<div class="top-menu">
    <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

    <div style="text-align: right;">
        <form action="http://localhost:3000/new" method="POST">
            <label for="">Event name:</label>
            <input type="text" id="fname" name="name">
            <label for=""> Event date:</label>
            <input type="text" id="fdate" name="date">
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>

<div class="container">

    <router-outlet></router-outlet>

</div>




